<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--

&nbsp;&nbsp;&nbsp;
<div class="headerrow" style="margin-right: 20px;margin-left: 10px;" >
    {{phaseName}} Standard Activity Edit        
</div>

-->

<link href="https://1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet">      
&nbsp;&nbsp;&nbsp;
<form [formGroup]="phaseActivityEditForm"   >

  <div  class="container" style="text-align:right;width:100%;padding-left: 15%;padding-right: 15%;">  
        <table style="width:100%;">
                <tr>     
                      <td >        
                            <div style="text-align:left;" >           
                                    <div class="headerrowheadpage" style="text-align:left;  font-size:11px;display: inline-flex;">
                                            Standard activities > {{phaseName}} phase update
                                    </div>    
                            </div>  
                      </td>
                      <td>     <div style="text-align:right;" >                                  
                                      <button id="update_id" type="button" mat-raised-button color="primary"  class="form_main_button" (click)="update()" >Update</button>
                                      <button id="cancel_id" type="button" mat-raised-button color="primary"  class="form_main_button" (click)="cancel()" >Cancel</button>                                                                    
                                </div>                                  
                      </td>
                </tr>      
        </table>       



<table  style="width:100%;">
    <tr>
      <td class ="user-table-td" style="text-align:left;">
          <mat-form-field class="text-input-width">
                 <textarea class="fntsz"  matInput placeholder="Standard activity name"  id="standardActivityName_id"   formControlName="standardActivityName" required></textarea>
          </mat-form-field>
      </td>
      <td class ="user-table-td">
        <mat-form-field class="text-input-width">
            <mat-select class="fntsz"  placeholder="Milestone or task"  id="milestoneOrTask" formControlName="milestoneOrTask">
              <mat-option *ngFor="let milestoneOrTask of milestoneOrTasks" [value]="milestoneOrTask.id">
                          {{milestoneOrTask.param}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </td>
  </tr>  

  <!--
  <tr class ="headerrow">
        <td style="text-align:center;" colspan="2">
            <button id="update_id" type="button" mat-raised-button color="primary"  class="form_main_button" (click)="update()" >Update</button>
            <button id="cancel_id" type="button" mat-raised-button color="primary"  class="form_main_button" (click)="cancel()" >Cancel</button>
        </td>      
  </tr>     
  -->
</table>
</div>
</form>

    
  




