<app-menu-top></app-menu-top>
<div class="row"><app-menu-left></app-menu-left> </div>
<br>
<div class="container">
  <div class="row" style="margin-right: 15px;margin-left: 150px;">
    <div class="col-md-12" style="font-size:11px;"> 
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="fntsz">Organisation WSR Report</mat-card-title>
          <mat-card-subtitle class="fntsz">PPT Report</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/WSRImage.jpg" alt="PPTlogo" style="width: 250px;height: 80px;">
        <mat-card-content class="fntsz">
          <p class="fntsz">This report provides the Weekly RAG health and the status for all the 
            On-going Execution Accounts.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button id="OrgWSRReport" (click)="WSR_OpenDialog()"> &nbsp; Generate Report</button>
        </mat-card-actions>
      </mat-card>
      
</div> 
</div> 
</div>  
