
    .page-sidebar-menu > li {
        
      display: block;
      /* background-color: yellowgreen;   */
      margin: 0;
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
      padding: 0;
          padding-top: 0px;
          padding-right: 0px;
          padding-bottom: 0px;
          padding-left: 0px;
      border: 0px;
          border-top-color: currentcolor;
          border-top-style: none;
          border-top-width: 0px;
          border-right-color: currentcolor;
          border-right-style: none;
          border-right-width: 0px;
          border-bottom-color: currentcolor;
          border-bottom-style: none;
          border-bottom-width: 0px;
          border-left-color: currentcolor;
          border-left-style: none;
          border-left-width: 0px;
          border-image-outset: 0;
          border-image-repeat: stretch;
          border-image-slice: 80%;
          border-image-source: none;
          border-image-width: 0.5;
    
    }
    
    .page-sidebar-menu > .nav-list > p > a > i {        
      font-size:11px;       
      text-shadow: none; 
      color:white !important;
    }
    
    .page-sidebar-menu > .nav-list > p > a {  
       font-size:11px;
       text-shadow: none;
      color:white !important;
    
    }

    .col-0{
      margin-left: -15px;
    }

    .page-header-fixed .page-container {
      margin-top: 100px;
    }
    
    .activeClass{
      width: 180px;
      height: 40px;
      background: #ffa573;
      position: relative;
    }
    .activeClass:after {
      position: absolute;
      right: -18px;
      top: 0;
      content: "";
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #ffa573;
    }
    
    .speech-bubble { 
      position: relative; 
      background: #ffa573; 
      border-radius: .4em; 
       width: 32px; 
     height: 55px; 
  } 
  .speech-bubble:after { 
     content: ''; 
     position: absolute; 
     bottom: 0; 
     left: 40%; 
     width: 0; 
     height: 0; 
     border: 12px solid transparent; 
     border-top-color: #ffa573; 
     border-bottom: 0; 
     margin-left: 18px; 
     margin-bottom: -8px; 
  }
    
    .page-sidebar.navbar-collapse {
      padding: 0;
      max-height: 1000px !important;
      height: 1000px;
    }
    
    .page-sidebar {
      background-color: #1d3242;
      position: absolute;
      height: 1000px;
      width: 180px;
      margin-left: 15px; 
    }
    
    .navbar-collapse.collapse {
      /* display: block !important; */
      height: 1000px !important;
      /* overflow: visible !important; */
    }
  
    .navbar-collapse {
      border-top: 0;
      box-shadow: black;
    }
    
    body {
      /* color:white; */
      font-family: 'Open Sans', sans-serif;
      /* font-size: 13px; */
      font-size:11px;
      /* direction: 3tr; */
    } 

  