<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet"/>

<div id="ibm-universal-nav"  style="background-color: #1d3649;">
    <div id="ibm-home"><img src="assets/TransitionIMG.png"></div>

    <div *ngIf = " url !==  '/' " >  
        <div *ngIf="FlagHide=== 'No'" class="ibm-parent-site-name">
            <div class="speech-bubble">
                <a routerLink="/ManageActiveTransitionsComponent" (click)="goTo('ManageActiveTransitionsComponent')" class="glyphicon glyphicon-home" style="color:white; font-size:18px;padding-bottom: 5px;width: 32px;padding-left: 12px;"></a></div>
            </div>
        </div>

            <div id="topright">
                <ul id="topRightDropDown" class="nav navbar-nav pull-right" >
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <div class="dropdown user">
                    <a href="javascript:;" class="dropdown-toggle" style="color:white;font-size:11px;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <!-- <span class="glyphicon glyphicon-user"></span> -->
                        <span class="username">
                            <!--  -->
                            <img class="ibm-downsize ibm-circle" src={{userPhoto}} alt="IBM face" style="width:35px;height:35px;background-size: contain;"> 
                            {{userName}}
                            <!-- <img alt="" role="presentation" src="https://w3-connections.ibm.com/common/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20181026.173101" class="lotusArrow lotusDropDownSprite"><span class="lotusAltText">▼</span>
                     -->
                        </span>

                        </a>
                        <div *ngIf = " url !==  '/' " >   
                            <ul class="dropdown-menu" style="width: 250px!important;font-size:11px;">
                                
                                <li *ngIf="FlagHide=== 'No'" style="font-size:11px;" class="ibm-ind-link"><span><a class="ibm-document-link" routerLink="/ViewConsentformComponent">Consent Details</a></span></li>
                                <div class="divider"></div>
                                
                                <li *ngIf="FlagHide=== 'No'" style="font-size:11px;" class="ibm-ind-link"><span><a class="ibm-blog-link" routerLink="/ToolGuideComponent">Tool Guide</a></span></li>
                                <div class="divider"></div>
                    
                                <!-- <li class="ibm-ind-link"><span><a><i class="ibm-secure-link"></i>Restart your browser to Switch ID.</a></span></li> -->
                                <li class="ibm-ind-link"><span><a class="ibm-secure-link" style="font-size:11px;" href={{serverURL}}>Log out</a></span></li>
                                
                            </ul>
                        </div>      
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>               
                <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <br>
        </div>        
      <div>                    
 </div>