<!--

<div class="headerrow" style="margin-right: 20px;margin-left: 10px;" >
      {{phaseName}} - Exit Criteria - Upload             
</div>

-->

&nbsp;&nbsp;&nbsp;
<div style="height: 3.5px;"></div> 


<div  class="container" style="text-align:right;width:100%;padding-left: 15%;padding-right: 15%;">  
            <table style="width:100%;font-size: 11px;">
                    <tr>     
                          <td >        
                                <div style="text-align:left;" >           
                                        <div class="headerrowheadpage" style="text-align:left;  font-size:11px;display: inline-flex;">
                                                Exit criteria > {{phaseName}} upload
                                        </div>    
                                </div>  
                          </td>
                          <td>     <div style="text-align:right;" >                                  
                                                <button id="upload_id" type="button" mat-raised-button color="primary" class="mybutton" (click)="onSubmit()" >Upload</button>
                                                <button id="cancel_id" type="button" mat-raised-button color="primary" class="mybutton" (click)="cancel()">Cancel</button>
                                    </div>                                  
                          </td>
                    </tr>      
            </table> 
            <table  style="width:100%;">
                        <tr style="text-align: left;">
                              <td  style="text-align:left;font-size: 11px;" >
                                    <label id="lbl" style="font-size: 11px;">Upload file</label>
                              </td>
                              <td style="text-align: left;">
                                    <input id="file_id" type='file' (change)="fileChanged($event)" style="font-size: 11px;">
                              </td>    
                        </tr>  
                        <tr style="text-align: left;">
                                    <td style="text-align:left;font-size: 11px;" > Sample Excel Template :  </td>
                                    <td style="text-align: left;">
                                                <button id="excel_id" (click)="exportAsXLSX()"><em class="fa fa-file-excel-o" style="font-size:15px;color:green"></em></button>                        
                                    </td>
                        </tr>  
                        <!--
                        <tr class ="headerrow">
                              <td style="text-align:center;" colspan="2">
                                          <button id="upload_id" type="button" mat-raised-button color="primary" class="form_main_button" (click)="onSubmit()" >Upload</button>
                                          <button id="cancel_id" type="button" mat-raised-button color="primary" class="form_main_button" (click)="cancel()">Cancel</button>
                              </td>      
                              </tr>     
                        -->    
            </table>

</div>
