  table {
    width: 100%;
    font-size: 11px;  
  }

  
  .example-container{
    width: 90%;
  }
  /* .mat-form-field {
    font-size: 11px;  
  } */
.example-button-row{
  text-align: left;
}

 .riskcount{
   border-width: 1px;
   width: 100px;
   text-align: left;
 }
 .formFieldwidth{
   width: 600px;
 }
 .searchTable{
   width: 1000px;
 }
  .searchfield{    
    /* width: 400px; */
    text-align: left;
  }
  .tablealignment{
      text-align: left;
      width: 180px;
      font-size: 11px;
  }
.fontsizeforfields{
  font-size: 11px;
}

  .tablealignmentCenter{
    justify-content: center;   
   
  }

  .headerrow {  
    font-size: 11px;  
    font-weight: bold;
    background-color: #1d3649;
    text-align: center;
    color:white;
    width: 100%;
  }
  .highlight  {
    background-color:cornsilk !important;
    font-weight: bold;
  } 

 .columnName {
  font-size: 11px;  
    color:white;
    font-weight: bold;
    background-color: #1d3649;
    text-align: center;
  }

  .matHeader {
    font-size: 11px;  
    font-weight: bold;
    color:white;    
  }

  button.btn-info {
    background-color: #1d3649;
    color: white;
    font-size:11px;
  } 