<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet"/>
<!-- <app-navigation></app-navigation> -->
<div class="container">    
  <div class="row content">
    <p>
        <a routerLink="/ManageActiveTransitionsComponent" (click)="goTo('ManageActiveTransitionsComponent')" style="font-size:12px;"><i class="glyphicon glyphicon-home"></i> Home </a>
        <br><br>
        <strong><u>Consent Details</u></strong>
        <br>    
        <strong>Why and how we collect and use your personal information</strong><br>The Transition Work Pad collects and processes Business Contact Information for authentication and identifying practitioners who have given access to projects which follow Transition Agile Methodology.<br>
        Your IBM Business Contact Information is used for viewing/creating/editing records and reports generation. Same will be saved for tracking, reporting and notification purposes.
        <br>
        <strong>Legal Basis</strong><br>The processing of your personal data (IBM Contact Information) is necessary for the performance of the Transition and Transformation Services, whose mission is to stores transition execution/transition engagement details covering the transition solution, transition plan, progress and last available status for client engagements with IBM.<br>
        <strong>We may share your data</strong> globally with various stakeholders within IBM such as leaders, focal points, practitioners, team members in Growth Platforms, Service Lines, Geographies, Global Quality, Solutioning, ClCs, etc.<br>
        <!-- <strong>Your personal information will be kept in our database </strong> as per <a href="#">IBM Record Retention Policy</a><br>
        More information on how we handle and use your personal information can be found in the <a href="https://w3.ibm.com/w3publisher/w3-privacy-notice/">IBM Internal Privacy Statement</a><br> -->
        <strong>Terms of use </strong>By using this application, I acknowledge, and any other data subjects identified in the Transition Work Pad users are aware, that the Transition Work Pad will collect Business Contact information, and I acknowledge I have read and understand the <a href="https://w3.ibm.com/w3publisher/w3-privacy-notice/">IBM Internal Privacy Statement</a>
        . Once you have agreed to this notice, consent cannot be revoked due to tracking and audit purposes.<br>
        <strong>Updates to our Privacy Statements </strong>From time to time we may update this Privacy Statement, as well as any other specific privacy statement.<br>
        <br>
      </div>  
    </div>


