<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> &nbsp;&nbsp;&nbsp;


<link href="https://1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet"> &nbsp;&nbsp;&nbsp;

<div [hidden]="sprinnerFlag === 1" >
    <mat-spinner></mat-spinner>
    Please wait....
  </div>

<div [hidden]="sprinnerFlag === 0" >
    <div class="row" style="margin-left: -12px;">
        <mat-form-field class="searchField">
                <mat-label style="font-size: 11px;" >Search</mat-label>
            <input id= "EpicSPFsearch" matInput (keyup)="applyFilter($event.target.value)" >
        </mat-form-field>
    </div>
    <div class="row" style="margin-left: -12px;">
        <div class="text">           
            <button id= "EpicSPBase" class="btn btn-info" [disabled]="dataSource.data===0 || baselinePageFlag === 1 || baselineFlagValue===1" [hidden]="FlagHide=== 'Yes'" (click)="onBaseline()">
                <em class="fa fa-save "></em> Baseline
            </button> &nbsp;
            <button id="Addsprint"  class="btn btn-info" 
            type="submit" [disabled]="editFlag === 1" [hidden]="FlagHide=== 'Yes'"  (click) ="openDialog()">ADD Sprint </button>                                     
        &nbsp;&nbsp; 
        Number of Sprints : {{dataLength}} &nbsp; Baselined : {{baselineFlagValue === 1 ? "Yes":"No" }}&nbsp;&nbsp;
        </div>

        <div class="example-container mat-elevation-z8" >
        <table id= "EpicSPDTable" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="epicName" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">Epic Name</div>
                </th>
                <td mat-cell *matCellDef="let element">{{element.epicName}}
                </td>
            </ng-container>

            <ng-container matColumnDef="sprintName" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">Sprint Name</div>
                </th>
                <td mat-cell *matCellDef="let element">{{element.sprintName}}
                </td>
            </ng-container>

            <ng-container matColumnDef="scopelevel" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">Scope Stream</div>
                </th>
                <td mat-cell *matCellDef="let element">{{element.scopelevel}}
                </td>
            </ng-container>

            <ng-container matColumnDef="startDate" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">Start Date</div>
                </th>
                <td mat-cell *matCellDef="let element">{{element.startDate | date : 'yyyy-MM-dd'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="endDate" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">End Date</div>
                </th>
                <td mat-cell *matCellDef="let element">{{element.endDate | date : 'yyyy-MM-dd'}}
                </td>
            </  ng-container>
            <ng-container matColumnDef="replanStartDate" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">Replan Start Date</div>
                </th>
                <td mat-cell *matCellDef="let element">{{element.replanStartDate | date : 'yyyy-MM-dd'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="replanEndDate" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">Replan End Date</div>
                </th>
                <td mat-cell *matCellDef="let element">{{element.replanEndDate | date : 'yyyy-MM-dd'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="actualStartDate" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">Actual Start Date</div>
                </th>
                <td mat-cell *matCellDef="let element">{{element.actualStartDate | date : 'yyyy-MM-dd'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actualEndDate" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">Actual End Date</div>
                </th>
                <td mat-cell *matCellDef="let element">{{element.actualEndDate | date : 'yyyy-MM-dd'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="rag">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">RAG</div>
                </th>
                <td mat-cell *matCellDef="let element"  >{{element.rag}}                
                </td>
            </ng-container>

            <ng-container matColumnDef="owner">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">Owner</div>
                </th>
                <td mat-cell class="matcell" *matCellDef="let element"  >{{element.owner}}                
                </td>
            </ng-container>

            <ng-container matColumnDef="remarks">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="matHeader">Remarks</div>
                </th>
                <td mat-cell *matCellDef="let element">
                        <mat-form-field style="width: 90%;">
                        <textarea class="matHeader" matInput placeholder="" [readonly]= true [value] = "element.remarks">                                                        
                            </textarea>
                        </mat-form-field>                
                </td>
            </ng-container>

            <ng-container matColumnDef="reasonfornotgreen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="matHeader">Reason for not Green</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                            <mat-form-field style="width: 90%;">
                            <textarea class="matHeader" matInput placeholder="" [readonly]= true [value] = "element.reason_for_not_green">                                                        
                                </textarea>
                            </mat-form-field>                    
                    </td>
            </ng-container>

            <ng-container matColumnDef="gotogreenplan">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div class="matHeader">Go to Green Plan</div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                            <mat-form-field style="width: 90%;">
                            <textarea class="matHeader" matInput placeholder="" [readonly]= true [value] = "element.green_plan">                                                        
                                </textarea>
                            </mat-form-field>
                    </td>
            </ng-container>


            <ng-container matColumnDef="icon" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>
                    <div class="matHeader"></div>
                </th>
                <td mat-cell *matCellDef="let element; let i = index;" >   
                    <button id="{{'SprintEdit'+i}}" class="btn btn-info" [hidden]="FlagHide=== 'Yes'" (click)="setClickedRow(i,element,'Edit')"> <em class="fa fa-edit"></em>
                    </button>     &nbsp;  
                    <button id="{{'SprintEdit'+i}}" class="btn btn-info" [hidden]="FlagHide !== 'Yes'" (click)="setClickedRow(i,element,'View')"> <em class="fa fa-eye"></em>
                    </button>     &nbsp;  
                    <button id="{{'SprintSPDelete'+i}}"  class="btn btn-info" id="EngSearch" [hidden]="FlagHide=== 'Yes'|| baselinePageFlag === 1 || baselineFlagValue===1" (click)="onDelete(element)">
                    <em class="fa fa-trash"></em>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row class="columnName" *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row  class="result-row" *matRowDef="let row; let element; columns:displayedColumns;">
        </tr>
        </table>
    </div>
    <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 1, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>