
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

&nbsp;&nbsp;&nbsp;
<!--

<div class="headerrow" style="margin-left: -12px;font-size:11px;margin-right: 120px">          
         Health & Readiness Indicator Category List For Tracking
</div>

-->

<link href="https://1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet">      
&nbsp;&nbsp;&nbsp;


            <table  style="width: 100%;font-size: 11px;">                 
                <tr style="text-align: left;">
                    <td class="headerrowheadpage" style="text-align: left;display: inline-flex;">Health & Readiness Indicator Category List For Tracking</td>
                    <td style="text-align: right;background-color: transparent;" class="fntsz">Export to Excel:<button id="HealthexportAsXLSX_id"  (click)="HealthexportAsXLSX()"><em class="fa fa-file-excel-o" style="font-size:15px;color: green"></em></button></td>             
                </tr> 
            </table>
            <table>
                <tr>
                    <td>
                        <div *ngIf="dataLength === 0" class="fontsze" > 
                            No Records to Track . Adopt Account Specific Paramaters under Master >> Account Level Tracking >> Health and Readiness Configuration 
                        </div>
                    </td>                    
                </tr>
            </table>
    <div *ngIf="dataLength !== 0" class="fontsze" >       
            <table mat-table [dataSource]="dataSource"  style="width: 100%;" >

                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
                <!-- Parameter Name -->
                <ng-container matColumnDef="parameterName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <th class="matHeader">Parameter <br> Name</th>
                    </mat-header-cell>
                <mat-cell *matCellDef="let parameter"> {{parameter.parameterName}} </mat-cell>
                </ng-container>

            
                <!-- Description -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <th class="matHeader">Description</th>
                    </mat-header-cell>
                <mat-cell  *matCellDef="let parameter" > {{parameter.description}}                               
                </mat-cell>
                </ng-container>

                <!-- Measure Against -->
                <ng-container matColumnDef="resourceTypeMeasured">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <th class="matHeader">Measure Against</th>
                    </mat-header-cell>
                    <mat-cell  *matCellDef="let parameter" > {{parameter.resourceTypeMeasured}}                               
                    </mat-cell>
                </ng-container>

                

                <!-- Operations Column -->
                <ng-container matColumnDef="parameterId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <th class="matHeader">Operation</th>
                        </mat-header-cell>
                        <mat-cell  *matCellDef="let parameter" style=" width: 20em;" >             
                            <button mat-icon-button class="mybutton" type="submit" id="{{parameter.parameterName}}" (click)="track(parameter)">
                                <div style="font-size:11px;" *ngIf="userAccessProfileService.getViewFlag()=='Yes'" > 
                                    View Tracking
                                </div>  
                                <div  style="font-size:11px;background-color: #1d3649;" *ngIf="userAccessProfileService.getViewFlag()=='No'" > 
                                        <mat-icon aria-label="">settings</mat-icon>Tracking
                                </div>                      
                            </button>                                                     
                        </mat-cell>        
                </ng-container>      
                <mat-header-row class="columnName" *matHeaderRowDef="displayedColumns"></mat-header-row>                

                <mat-row class="result-row" *matRowDef="let row; let element; columns:displayedColumns;"  [ngClass]="{ highlight: row == selectedRow }">
                </mat-row>  
            </table>
    </div>  