<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!--
&nbsp;&nbsp;&nbsp;
<div class="headerrow" style="margin-right: 20px;margin-left: 10px;" >
    Functionality List of Role  {{roleName}}          <button mat-icon-button type="submit" id="func_add" (click)="gotoRoleFunctionalityAdd()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button> 
</div>
-->
<div  class="container" style="text-align:right;width:100%;padding-left: 10%;padding-right: 10%;">  
<br>
<table>
    <tr style="text-align:left;">  
         <td style="text-align:left;">
              <div style="text-align:left;" >   
                      <div class="headerrowheadpage" style="text-align:left;  font-size:11px;display: inline-flex;">
                              Role > Role functionality > {{roleName}} 
                      </div>    
              </div>  
          </td>
          <td style="text-align:right;"> 
              <button mat-icon-button type="submit" id="func_add" (click)="gotoRoleFunctionalityAdd()">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>  
              <button mat-icon-button type="submit" id="func_add" (click)="gotoRoleList()">
                  Cancel<mat-icon aria-label="Example icon-button with a heart icon"></mat-icon>
              </button> 
          </td> 
   </tr>                          
</table>    
 
  <table mat-table [dataSource]="dataSource" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="roleFunctionalityName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <th class="matHeader">Name</th>
                  </mat-header-cell>
      <mat-cell *matCellDef="let roleFunctionality"> {{roleFunctionality.roleFunctionalityName}} </mat-cell>
    </ng-container>



    <!-- Skill Column -->
    <ng-container matColumnDef="roleFunctionalityDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <th class="matHeader">Description</th>
                  </mat-header-cell>
        <mat-cell *matCellDef="let roleFunctionality"  > {{roleFunctionality.roleFunctionalityDescription}}                               
        </mat-cell>
      </ng-container>



      <!-- Operations Column -->
      <ng-container matColumnDef="roleFunctionalityId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <th class="matHeader">Operation</th>
            </mat-header-cell>
        <mat-cell *matCellDef="let roleFunctionality; let rowIndex = index"  > 
            
            <button mat-icon-button type="submit" id="del{{rowIndex}}" (click)="onDelete(roleFunctionality)">
                <mat-icon aria-label="Example icon-button with a heart icon">delete_forever</mat-icon>
            </button>   
                                        
        </mat-cell>        

    </ng-container>      
  
    <mat-header-row class="columnName" *matHeaderRowDef="displayedColumns"></mat-header-row>     
               
    <mat-row class="result-row" *matRowDef="let row; let element; columns:displayedColumns;" (click)="setClickedRow(row,element)" [ngClass]="{ highlight: row == selectedRow }">
        </mat-row> 
  </table>
</div>