<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet"/>
<!-- <app-navigation></app-navigation> -->
<div class="container">    
  <div class="row content">
    <p>
      <a routerLink="/ManageActiveTransitionsComponent" (click)="goTo('ManageActiveTransitionsComponent')" style="font-size:12px;"><i class="glyphicon glyphicon-home"></i> Home </a>
      <br><br>
      <strong><u>Tool Guide Instructions</u></strong>
      <br>
      <strong><u>What is a Transition Work Pad?</u></strong><br>It is first of its kind Transition project management tool which empowers the Transition Manager to track transition progress across Transition Schedule, Knowledge Transition, Deliverables, Infrastructure availability/ Network Setup/ Access Provisioning, Staff fulfillment, risks & issues, Service Operational Processes, Service Governance Processes for each of the sprints - completed, on-going & not initiated ones. Entire project status reporting to stakeholders can be generated based on the outputs from this tool.<br>
      The tool is capable to monitor the health of Application transition across 6 main areas at the sprint level:  
      <br>
      *	Transition Schedule - Plan V/S Actuals, Schedule Variance
      <br>
      *	Knowledge Transition – Learning, Documentation, Assessment 
      <br>
      *	Infrastructure – Workplace, Network Connectivity, Access, Etc.
      <br>
      *	Resources – Staffing, Onboarding Status
      <br>
      *	Deliverables - Milestones, Contractual Delivery dates
      <br>
      *	Risks & Issues – Risk Status, Mitigation, Impact
      <br>
      <strong><u>Business Benefits</u></strong>
        <br>
        * Provides Micro to Macro level Transition project management
        <br>        
        * Provides deeper visibility to stakeholders with the sprint level views.
        <br>        
        * Proactive Transition Management instead of reactive on the sprints moving into troubled state.
        <br>        
        * Improved decision making and optimized risk.
        <br>        
        * Financial savings from reduced rework, lost time, improved resource management and usage
        <br>        
        * Schedule adherence & hence, achieving service readiness in time.           
        <!-- <br></p> -->
        <br>
      </div>  
    </div>

